<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
    <form class="form-signin">
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputNome" class="sr-only">Nome</label>
      <input type="text" [(ngModel)]="usuario.nome" name="nome" id="inputNome" class="form-control" placeholder="Nome" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" [(ngModel)]="usuario.senha" name="senha" id="inputPassword" class="form-control" placeholder="Password" required="">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" (click)="fazerLogin()" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>
  </div>
</div>