
<!-- estudo rotas -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="">Estudo Rotas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cursos" [queryParams]="{pagina:1}" routerLinkActive="active">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/alunos">Alunos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['curso', idCurso.value]" routerLinkActive="active">Cursos com id</a>
        </li>
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container">


    <div class="form-group mt-5 mb-5">
      <label for="exampleInputEmail1">Nome do curso</label>
      <input #idCurso type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome do Curso">
    </div>  



    <router-outlet></router-outlet>
  </div>


<!-- estudo input, output, hostListener
<app-home></app-home> -->
<!-- 
estudo ng-content
<app-ng-content>
    <h3 class="titulo">Título exemplo de ng content</h3>
    <div class="corpo">corpo do texto vai dar?</div>
</app-ng-content> -->

<!-- estudo diretivas
<app-diretivas-customizadas></app-diretivas-customizadas>
<app-estudo-diretiva></app-estudo-diretiva> -->
<!-- 
estudo serviço
<div class="container">
    <app-criar-curso></app-criar-curso>
    <app-cursos></app-cursos>
</div> -->

<!-- estudo pipes -->
<!-- <app-estudo-pipe></app-estudo-pipe> -->