
<!-- estudo input, output, hostListener
<app-home></app-home> -->
<!-- 
estudo ng-content
<app-ng-content>
    <h3 class="titulo">Título exemplo de ng content</h3>
    <div class="corpo">corpo do texto vai dar?</div>
</app-ng-content> -->

<!-- estudo diretivas
<app-diretivas-customizadas></app-diretivas-customizadas>
<app-estudo-diretiva></app-estudo-diretiva> -->
<!-- 
estudo serviço
<div class="container">
    <app-criar-curso></app-criar-curso>
    <app-cursos></app-cursos>
</div> -->

<app-estudo-pipe></app-estudo-pipe>